body{
	font-family: 'Helvetica', sans-serif;
	-webkit-font-smoothing: antialiased;
	hyphens:auto;
}

html{font-size: 80%;}
@media screen and (min-width: 900px){
	html{font-size: 90%;}
}
@media screen and (min-width: 1400px){
	html{font-size: 110%;}
}

video {
	width: 60vmin;
}

